*{
    box-sizing: border-box;
}
body{
    background-image: url("../img/bg-body.png");
}
.divgeneral{
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: red dashed;
}
.login{
    display: flex;
    justify-content: flex-end;
    list-style: none;
}
.logoh{
    display: flex;
    justify-content: center;
}
.logo{
    margin-bottom: 30px;
    width: 180px;
    border-radius: 50%;
}
.bannerphoto{
    width: 100%;
    margin-bottom: 30px;
}

.navig ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.links{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 180px;
    color: white;
    background-color: #666;
    border: purple 5px dashed;
}
.principal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
article{
    display: flex;
    border: blue dashed;
    width: 380px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

